@import 'bootstrap-custom';
@import 'font-awesome';

$break-xs: 320px;
$break-md: 640px;

body {
  font-family: 'Open Sans', sans-serif;
  margin: 2em;
  @include media-breakpoint-up(md) {
    margin: 4em;
    margin-top: 6em;
  }
}

.userpic {
  width: 10em;
  height: 10em;
}

.userpic-block {
  padding-bottom: 2em;
  @media screen and (min-width: $break-md) {
    padding-bottom: 4em;
  }
}
.row-contacts {
  padding-top: 2em;
  @media screen and (min-width: $break-md) {
    padding-top: 4em;
  }
}

.container-fluid {
  padding: 0;
  max-width: 80em;
}

.img-logo {
  width: 4em;
  height: 4em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.sidenote {
  font-size: 0.8em;
  max-width: 20em;
}

.list-contacts {
  .list-inline-item {
    display: block-inline;
    margin-right: 1em;
    margin-bottom: 1em;
    a i {
      transition: color 0.5s;
      color: #000;
      &:hover {
        color: $link-color;
      }
    }
  }
}

a {
  transition: color 0.5s;
}

strong {
  color: darken($gray, 20%);
}