extends default.jade

block content
  .container-fluid
    .row
      .col-xs-8.col-md-8
        .userpic-block
          img(src="img/bricks.jpg").userpic
      .col-xs-4.col-md-4
        ul.list-contacts
          li.list-contacts-item
            a(href="https://behance.net/dandaka")
              span Behance
          li.list-contacts-item
            a(href="https://facebook.com/rafeev")
              span Facebook
          li.list-contacts-item
            a(href="https://github.com/dandaka")
              span GitHub
          li.list-contacts-item
            a(href="https://twitter.com/dandaka")
              span Twitter
          li.list-contacts-item
            a(href="https://ru.linkedin.com/in/rafeev")
              span LinkedIn
    .row
      .col-xs-12.col-md-8
        h1 Меня зовут 
          nobr Влад 
            span.last Рафеев
        p.accent Я помогаю компаниям управлять людьми и создавать с ними продукты в цифровой среде — дизайн, бренды, сайты, приложения и устройства.
    .row
      .col-xs-12.col-md-8
        p Разбираюсь в технической стороне своих проектов, так как имею опыт  верстки и программирования. 
          strong Умею находить общий язык с разработчиками
          |  в различных областях. В проектах заинтересованные лица понимают, что происходит, а разработчики и дизайнеры делают то, что приносит ценность клиентам и бизнесу.
      .col-xs-12.col-md-4
        p.sidenote В проектах использовались PHP, C#, Linux, C, JavaScript, Node.js. Работал с инженерами устройств.
    .row
      .col-xs-12.col-md-8
        p Имею 
          strong коммерческий опыт создания новых компаний и продуктов
          | , опыт предпринимательской деятельности. Умею считать деньги, оценивать эффективность и расставлять приоритеты. Являюсь партнером брендингового бюро 
          a(href="http://accuraten.com/") Accuraten
          |  и стартапа 
          a(href="http://ru.unitecontrol.com/") Unite Control
          |  из сферы «интернета вещей». Создал второй в рунете сайт о йоге 
          a(href="http://hanuman.ru/") Хануман.ру
          | , разрабатывал первые версии интерфейса 
          a(href="http://livelib.ru/") LiveLib
          | .
      .col-xs-12.col-md-4
        ul.list-inline
          li.list-inline-item
            a(href="http://accuraten.com/")
              img(src="img/accuraten.png").img-logo
          li.list-inline-item
            a(href="http://ru.unitecontrol.com/")
              img(src="img/uc.png").img-logo
          li.list-inline-item
            a(href="http://hanuman.ru/")
              img(src="img/hanuman.png").img-logo
    .row
      .col-xs-12.col-md-8
        p Вникаю в новые инструменты и технологии, люблю разбираться в сложных штуках, а потом передавать это знание проектной группе. Умею замотивировать учиться, показываю на своем примере, как это делается. Это повышает качество и удовольствие от работы внутри команды.
      .col-xs-12.col-md-4
        p.sidenote В проекте Deepower live разобрался с двумя языками программирования — Clojure и Max/MSP, научился делать pull request'ы. Мне только дай выйти из зоны комфорта.
    .row
      .col-xs-12.col-md-8
        p Не тяну одеяло на себя, предпочитая принимать решения с пользой для проекта, команды и других заинтересованных лиц. 
          strong Умею находить баланс между конфликтующими интересами
          |  и приходить к компромиссу. Вижу свою роль в том, чтобы помогать команде достигать поставленных целей, повышая вклад каждого участника.
    .row
      .col-xs-12.col-md-8
        p 
          strong Умею организовать распределенную асинхронную работу команд
          | . В моих проектах одновременно работают люди в 4х часовых поясах. Это позволяет привлекать лучшие кадры, сокращая затраты проектов.
      .col-xs-12.col-md-4
        p.sidenote Внедряю и применяю инструменты совместной работы — Slack, Git, Skype, Asana, Dropbox, Google Docs.
    .row
      .col-xs-12.col-md-8
        p 
          strong Пишу по-русски интересно и грамотно
          | . Считаю, что принципы эффективной коммуникации строятся на четком понимании интересов целевой аудитории и удовлетворении этих потребностей.
        p Умею слушать клиентов без навязывания своих продуктов. Передаю потребности клиентов проектной группе, 
          strong разрабатываю востребованные рынком продукты
          |  с минимальными затратами.
        p 
          strong Свободно говорю и пишу по-английски
          |, немного говорю по-немецки и польски. Умею решать задачи с привлечением коллективного разума — Stackoverflow, Github, тематические форумы.
    .row
      .col-xs-12.col-md-8
        p 
          strong Проектирую и верстаю сайты
          | , которые работают на устройствах от старых смартфонов до ноутбуков с экранами высокого разрешения.
      .col-xs-12.col-md-4
        p.sidenote Использую респонсивную верстку, технологии SASS, Git, Gulp, Bootstrap, Jade.
    .row
      .col-xs-12.col-md-8
        p Участвую в аудио-визуальном проекте 
          a(href="https://www.facebook.com/deepowerband/") Deepower live
          |, который объединяет электронных и живых музыкантов, диджеев, видео и световую инсталляцию и настройку звука.
      .col-xs-12.col-md-4
        p
          a(href="https://www.facebook.com/deepowerband/")
            img(src="img/deepower.png").img-logo
    .row
      .col-xs-12.col-md-8
        p.accent Связаться со мной
          |  лучше почтой — 
          a(href="mailto:vlad19@gmail.com") vlad19@gmail.com
          | .