extends default.jade

block content
  .container-fluid
    .about-text
      .userpic-block 
        img(src="img/bricks.jpg").userpic
      p Меня зовут Влад Рафеев. Я помогаю софтверным компаниям управлять людьми и создавать с ними продукты в цифровой среде — дизайн, сайты, приложения и устройства.
      p 
        strong Разбираюсь в технической стороне 
        |  своих проектов, так как имею большой опыт собственной разработки (верстка, программирование). Умею находить общий язык с разработчиками в различных областях, успел поработать в средах PHP, C#, Linux, C, JavaScript, Node, а также с инженерами устройств. В моих проектах все заинтересованные лица понимают, что происходит, а разработчики и дизайнеры делают только то, что приносит ценность заказчику.
      p 
        strong Быстро вникаю
        |  в новые инструменты и технологии, люблю разбираться в сложных штуках, а потом передавать это знание проектной группе. Умею замотивировать учиться, показываю на своем примере, как это делается. Это повышает эффективность и удовлетворенность внутри команды.
      p 
        | Не тяну одеяло на себя, предпочитая принимать эффективные решения с точки зрения проекта, команды и других заинтересованных лиц. 
        strong Умею находить баланс между различными, часто конфликтующими интересами
        |  и приходить к компромиссу. Вижу свою роль в том, чтобы помогать команде достигать поставленных целей, повышая эффективность вклада каждого участника.
      p 
        | В моих проектах работают люди из разных городов и стран, в разных часовых поясах. 
        strong Умею организовать распределенную асинхронную работу команд
        |  , внедряю и применяю для этого современные способы коммуникации — slack, git, skype, asana, dropbox, google docs.
      p Умею писать по-русски интересно и грамотно. Уверен в том, что принципы эффективной коммуникации строятся на четком понимании интересов целевой аудитории и удовлетворении этих потребностей.
      p 
        | Умею слушать клиентов без лишнего навязывания своих продуктов. Передаю потребности клиентов проектной группе, 
        strong разрабатываю востребованные рынком продукты
        |  с минимальными затратами.
      p 
        | Имею 
        strong коммерческий опыт создания новых компаний и продуктов
        | , опыт предпринимательской деятельности. Умею считать деньги, оценивать эффективность и расставлять приоритеты. Создал популярный сайт о йоге 
        a(href="http://hanuman.ru/") Хануман.ру
        | , участвовал в разработке первых версий интерфейса 
        a(href="http://livelib.ru/") LiveLib
        | . Являюсь партнером брендингового бюро 
        a(href="http://accuraten.com/") Accuraten
        |  и стартапа 
        a(href="http://ru.unitecontrol.com/") Unite Control
        |  из сферы «интернета вещей».
      p 
        strong Свободно говорю и пишу по-английски
        |, немного говорю по-немецки и польски. Умею решать задачи с привлечением коллективного разума — stackoverflow, github, тематические форумы. Это позволяет решать практически любые задачи, в которых возникает необходимость.
      p 
        | Участвую в аудио-визуальном проекте 
        a(href="https://www.facebook.com/deepowerband/") Deepower live
        |, который объединяет электронных и живых музыкантов, диджеев, видео и световую инсталляцию и настройку качественного звука. В процессе работы над выступлением разобрался с двумя языками программирования — Clojure и Max/MSP.

      p
        | Расскажите мне о ваших проектах:
        ul
          li по почте 
            a(href="mailto:vlad19@gmail.com") vlad19@gmail.com
          li скайпом 
            a(href="skype:vlad.genie?call") vlad.genie
          li по телефону 
            a(href="tel:+79118554541") +79118554541
      p 
        | Меня можно найти:
        ul
          li 
            a(href="https://github.com/dandaka") github/@dandaka
          li
            a(href="https://facebook.com/rafeev") facebook/@rafeev
          li
            a(href="https://twitter.com/dandaka") twitter/@dandaka