extends default.jade

block content
  .container-fluid
    .row
      .col-xs-12.col-md-8.col-xl-6
        .userpic-block 
          img(src="img/bricks.jpg").userpic
        p 
          strong Меня зовут Влад Рафеев
          | . Я помогаю компаниям управлять людьми и создавать с ними продукты в цифровой среде — дизайн, сайты, приложения и устройства.
    .row
      .col-xs-12.col-md-8.col-xl-6
        p Разбираюсь в технической стороне своих проектов, так как имею опыт  верстки и программирования. 
          strong Умею находить общий язык с разработчиками
          |  в различных областях. В проектах заинтересованные лица понимают, что происходит, а разработчики и дизайнеры делают то, что приносит ценность клиентам и бизнесу.
      .col-xs-12.col-md-4.col-xl-6
        p.sidenote В проектах использовались PHP, C#, Linux, C, JavaScript, Node.js. Работал с инженерами устройств.
    .row
      .col-xs-12.col-md-8.col-xl-6
        p Имею 
          strong коммерческий опыт создания новых компаний и продуктов
          | , опыт предпринимательской деятельности. Умею считать деньги, оценивать эффективность и расставлять приоритеты. Являюсь партнером брендингового бюро 
          a(href="http://accuraten.com/") Accuraten
          |  и стартапа 
          a(href="http://ru.unitecontrol.com/") Unite Control
          |  из сферы «интернета вещей». Создал второй в рунете сайт о йоге 
          a(href="http://hanuman.ru/") Хануман.ру
          | , разрабатывал первые версии интерфейса 
          a(href="http://livelib.ru/") LiveLib
          | .
      .col-xs-12.col-md-4.col-xl-6
        ul.list-inline
          li.list-inline-item
            a(href="http://accuraten.com/")
              img(src="img/accuraten.png").img-logo
          li.list-inline-item
            a(href="http://ru.unitecontrol.com/")
              img(src="img/uc.png").img-logo
          li.list-inline-item
            a(href="http://hanuman.ru/")
              img(src="img/hanuman.png").img-logo
    .row
      .col-xs-12.col-md-8.col-xl-6
        p Вникаю в новые инструменты и технологии, люблю разбираться в сложных штуках, а потом передавать это знание проектной группе. Умею замотивировать учиться, показываю на своем примере, как это делается. Это повышает качество работы и удовлетворенность процессами внутри команды.
        p Не тяну одеяло на себя, предпочитая принимать решения с пользой для проекта, команды и других заинтересованных лиц. 
          strong Умею находить баланс между конфликтующими интересами
          |  и приходить к компромиссу. Вижу свою роль в том, чтобы помогать команде достигать поставленных целей, повышая вклад каждого участника.
    .row
      .col-xs-12.col-md-8.col-xl-6
        p В моих проектах одновременно работают люди в 4х часовых поясах. 
          strong Умею организовать распределенную асинхронную работу команд
          | .
      .col-xs-12.col-md-4.col-xl-6
        p.sidenote Внедряю и применяю инструменты совместной работы — Slack, Git, Skype, Asana, Dropbox, Google Docs.
    .row
      .col-xs-12.col-md-8.col-xl-6
        p 
          strong Пишу по-русски интересно и грамотно
          | . Считаю, что принципы эффективной коммуникации строятся на четком понимании интересов целевой аудитории и удовлетворении этих потребностей.
        p Умею слушать клиентов без лишнего навязывания своих продуктов. Передаю потребности клиентов проектной группе, 
          strong разрабатываю востребованные рынком продукты
          |  с минимальными затратами.
        p 
          strong Свободно говорю и пишу по-английски
          |, немного говорю по-немецки и польски. Умею решать задачи с привлечением коллективного разума — Stackoverflow, Github, тематические форумы.
    .row
      .col-xs-12.col-md-8.col-xl-6
        p 
          strong Верстаю современные сайты
          | , которые работают на устройствах от старых смартфонов до ноутбуков с экранами высокого разрешения.
      .col-xs-12.col-md-4.col-xl-6
        p.sidenote Использую технологии SASS, LESS, Git, Gulp, Bootstrap, Flexbox.
    .row
      .col-xs-12.col-md-8.col-xl-6
        p Участвую в аудио-визуальном проекте 
          a(href="https://www.facebook.com/deepowerband/") Deepower live
          |, который объединяет электронных и живых музыкантов, диджеев, видео и световую инсталляцию и настройку звука. В процессе работы над выступлением разобрался с двумя языками программирования — Clojure и Max/MSP.
      .col-xs-12.col-md-4.col-xl-6
        p
          a(href="https://www.facebook.com/deepowerband/")
            img(src="img/deepower.png").img-logo
    .row.row-contacts
      .col-xs-12.col-md-8.col-xl-6
        p 
          strong Связаться со мной
          |  лучше почтой — 
          a(href="mailto:vlad19@gmail.com") vlad19@gmail.com
          | .
        ul.list-inline.list-contacts
          li.list-inline-item
            a(href="https://github.com/dandaka")
              i.fa.fa-3x.fa-github-square
          li.list-inline-item
            a(href="https://facebook.com/rafeev")
              i.fa.fa-3x.fa-facebook-square
          li.list-inline-item
            a(href="https://twitter.com/dandaka")
              i.fa.fa-3x.fa-twitter-square
          li.list-inline-item
            a(href="https://ru.linkedin.com/in/rafeev")
              i.fa.fa-3x.fa-linkedin-square