extends default.jade

block content
  .container-fluid
    .row
      .col-xs-8.col-md-8
        .userpic-block
          img(src="img/bricks.jpg").userpic
      .col-xs-4.col-md-4
        ul.list-contacts
          li.list-contacts-item
            a(href="https://behance.net/dandaka")
              span Behance
          li.list-contacts-item
            a(href="https://facebook.com/rafeev")
              span Facebook
          li.list-contacts-item
            a(href="https://github.com/dandaka")
              span GitHub
          li.list-contacts-item
            a(href="https://twitter.com/dandaka")
              span Twitter
          li.list-contacts-item
            a(href="https://ru.linkedin.com/in/rafeev")
              span LinkedIn
    .row
      .col-xs-12.col-md-8
        h1 Меня зовут 
          nobr Влад 
            span.last Рафеев
        p.accent Я помогаю компаниям управлять людьми и создавать с ними продукты в цифровой среде — дизайн, бренды, сайты, приложения и устройства.
        p Если вы хотите сделать чайник с вайфаем, я найду промышленных дизайнеров, программистов, дизайнеров интерфейса. Через 2 месяца у вас будет готовый прототип устройства и веб-сервиса, а через полгода будет готово производство в Китае. А ваш новый интернет-магазин будет отрабатывать заявки покупателей.
    .row
      .col-xs-12.col-md-8
        p Разбираюсь в технической стороне своих проектов, так как имею опыт  верстки и программирования.
      .col-xs-12.col-md-4
        p.sidenote В проектах использовались PHP, C#, Linux, C, JavaScript, Node.js. Работал с инженерами устройств.
    .row
      .col-xs-12.col-md-8
        p Являюсь партнером брендингового бюро 
          a(href="https://accuraten.com/") Accuraten
          |  и стартапа 
          a(href="http://ru.unitecontrol.com/") Unite Control
          |  из сферы «интернета вещей».
        p Разрабатывал первые версии интерфейса книжного сервиса 
          a(href="http://livelib.ru/") LiveLib
          | . Создал второй в Рунете сайт о йоге 
          a(href="http://hanuman.ru/") Хануман.ру
          | . В проекте отвечал за проектирование интерфейса, наполнение контентом, управление разработчиками, создание продуктов под собственным брендом Adimurti.
      .col-xs-12.col-md-4
        ul.list-inline
          li.list-inline-item
            a(href="https://accuraten.com/")
              img(src="img/accuraten.png").img-logo
          li.list-inline-item
            a(href="http://ru.unitecontrol.com/")
              img(src="img/uc.png").img-logo
          li.list-inline-item
            a(href="http://hanuman.ru/")
              img(src="img/hanuman.png").img-logo
    .row
      .col-xs-12.col-md-8
        p Вникаю в новые инструменты и технологии, люблю разбираться в сложных штуках, а потом передавать это знание проектной группе. Научил всех сотрудников бюро Accuraten пользоваться счетчиком рабочего времени Toggl. Теперь компания знает, что дизайнер рисует хороший логотип минимум 15 часов, а значит он не может стоить дешевле 50.000₽.
        p Умею находить разработчиков и дизайнеров в команду. Знаю, как написать интересную вакансию, на которую откликнется сильный кандидат. Быстро отсекаю бездарей и лентяев от самородков за счет простых, но эффективных тестовых заданий, вопросов при интервью и внимательной оценке соответствия человека команде проекта.
    .row
      .col-xs-12.col-md-8
        p 
          strong Умею организовать распределенную асинхронную работу команд
          | . В моих проектах одновременно работают люди в 4х часовых поясах. Это позволяет привлекать лучшие кадры, сокращая затраты проектов.
      .col-xs-12.col-md-4
        p.sidenote Внедряю и применяю инструменты совместной работы — Slack, Git, Skype, Asana, Dropbox, Google Docs.
    .row
      .col-xs-12.col-md-8
        p 
          strong Свободно говорю и пишу по-английски
          |, немного говорю по-немецки и польски. Умею привлекать помощь коллективного разума — Stackoverflow, Github, тематические форумы. Мои команды быстро находят решения вместо изобретения велосипедов.
    .row
      .col-xs-12.col-md-8
        p 
          strong Проектирую и верстаю сайты
          | , которые работают на устройствах от старых смартфонов до ноутбуков с экранами высокого разрешения.
      .col-xs-12.col-md-4
        p.sidenote Использую респонсивную верстку, технологии SASS, Git, Gulp, Bootstrap, Jade.
    .row
      .col-xs-12.col-md-8
        p Участвую в аудио-визуальном проекте 
          a(href="https://www.facebook.com/deepowerband/") Deepower live
          |, который объединяет электронных и живых музыкантов, диджеев, видео и световую инсталляцию. В процессе работы над выступлением разобрался с двумя языками программирования — Clojure и Max/MSP.
      .col-xs-12.col-md-4
        p
          a(href="https://www.facebook.com/deepowerband/")
            img(src="img/deepower.png").img-logo
    .row
      .col-xs-12.col-md-8
        p.accent Связаться со мной
          |  лучше почтой — 
          a(href="mailto:vlad19@gmail.com") vlad19@gmail.com
          | .